rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
  	match /template/{document=**} {
      // Allow read access for anyone
      allow read: if true;
    }
  
 		match /vehicles/{document=**} {
      // Allow read access for anyone
      allow read: if true;
    }
  
    match /{document=**} {
 			allow read, write: if request.auth != null;    
    }
  }
}